.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note{
    font-size: 15px;
    color: black;
}

.copy_right_footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    line-height: 3;
    background-color: aqua;
    color: blue;
    font-size: 20px;
    font-family: 'Holtwood One SC', serif;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}